html, body, div{
	background: #666666;
  font-family: Helvetica, sans-serif;
}

#head {
  padding: 0 10px;
  border-radius: 30px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  margin: 0 10%;
  padding: 5px 5px 5px;
  border-color: #444444;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  text-align: center;
}

#head ul {
  border-radius: 0px 0px 20px 20px;
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0;
  text-align: center;
	background: #777777;
}

#head li {
  font-weight: bold;
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

#head li a {
  color: #c0c0c0;
  text-decoration: none;
  background-color: inherit;
}

#head li a:hover{
  color: #c0c0c0;
  font-weight: bold;
  text-decoration: underline;
}

#home {
  padding: 0 10px;
  border-radius: 30px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  margin: 0 10%;
	background: #777777;
  border-color: #444444;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  text-align: center;
}

#home ul {
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0;
  text-align: center;
}

#home li {
  font-weight: bold;
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

#home li a {
  color: #c0c0c0;
  text-decoration: none;
  background-color: inherit;
}

#home li a:hover{
  color: #c0c0c0;
  font-weight: bold;
  text-decoration: underline;
}

#Twitter {
  border-radius: 30px;
  color: #00acee;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  margin: 0 20%;
	background: #777777;
  border-color: #444444;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  text-align: center;
}

#Twitter ul {
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0;
  text-align: center;
}

#Twitter li {
  font-weight: bold;
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

#Twitter li a {
  color: #40bbea;
  text-decoration: none;
  background-color: inherit;
}

#Twitter li a:hover{
  color: #40bbea;
  font-weight: bold;
  text-decoration: underline;
}

#Youtube {
  border-radius: 30px;
  color: red;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  margin: 0 20%;
	background: #777777;
  border-color: #444444;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  text-align: center;
}

#Youtube ul {
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0;
  text-align: center;
}

#Youtube li {
  font-weight: bold;
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

#Youtube li a {
  color: #ec5353;
  text-decoration: none;
  background-color: inherit;
}

#Youtube li a:hover{
  color: #ec5353;
  font-weight: bold;
  text-decoration: underline;
}

#Twitch {
  border-radius: 30px;
  color: purple;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  margin: 0 20%;
	background: #777777;
  border-color: #444444;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  text-align: center;
}

#Twitch ul {
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0;
  text-align: center;
}

#Twitch li {
  font-weight: bold;
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

#Twitch li a {
  color: #901090;
  text-decoration: none;
  background-color: inherit;
}

#Twitch li a:hover{
  color: #901090;
  font-weight: bold;
  text-decoration: underline;
}

#Spotify {
  border-radius: 30px;
  color: #1db954;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  margin: 0 20%;
	background: #777777;
  border-color: #444444;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  text-align: center;
}

#Spotify ul {
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0;
  text-align: center;
}

#Spotify li {
  font-weight: bold;
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

#Spotify li a {
  color: #3fcc71;
  text-decoration: none;
  background-color: inherit;
}

#Spotify li a:hover{
  color: #3fcc71;
  font-weight: bold;
  text-decoration: underline;
}

#Discord {
  border-radius: 30px;
  color: #7289da;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  margin: 0 20%;
	background: #777777;
  border-color: #444444;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  text-align: center;
}

#Discord ul {
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0;
  text-align: center;
}

#Discord li {
  font-weight: bold;
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

#Discord li a {
  color: #7289da;
  text-decoration: none;
  background-color: inherit;
}

#Discord li a:hover{
  color: #7289da;
  font-weight: bold;
  text-decoration: underline;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

body {
  color: black;
  font-family: Helvetica, sans-serif;
}