html, body, div{
	background: #666666;
  font-family: Helvetica, sans-serif;
}

#head {
  padding: 0 10px;
  border-radius: 30px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  margin: 0 10%;
  padding: 5px 5px 5px;
  border-color: #444444;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  text-align: center;
}

#head ul {
  border-radius: 0px 0px 20px 20px;
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0;
  text-align: center;
	background: #777777;
}

#head li {
  font-weight: bold;
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

#head li a {
  color: #c0c0c0;
  text-decoration: none;
  background-color: inherit;
}

#head li a:hover{
  color: #c0c0c0;
  font-weight: bold;
  text-decoration: underline;
}

#home {
  padding: 0 10px;
  border-radius: 30px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  margin: 0 10%;
	background: #777777;
  border-color: #444444;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  text-align: center;
}

#home ul {
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0;
  text-align: center;
}

#home li {
  font-weight: bold;
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

#home li a {
  color: #c0c0c0;
  text-decoration: none;
  background-color: inherit;
}

#home li a:hover{
  color: #c0c0c0;
  font-weight: bold;
  text-decoration: underline;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

body {
  color: black;
  font-family: Helvetica, sans-serif;
}